@media  screen and (max-width : 431px) {
    .wrapperPlayer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 150px;
    }
    
    .namePlayer {
        width: 60%;
        text-align: start;
        font-size: 12px;
    }
    
    .btn {
        flex-grow: 1;
    }
    .score {
        font-size: 12px;
        margin: 0 5px;
    }
}