@media(max-width : 431px) {
    .field {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    
    .fieldImage {
        width: 100%;
        height: 100%;

    }

}