.wrapperPage {
    text-align: center;
    padding: 10px;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.description {
    font-size: 20px;
}

.btn {
    width: 100px;
    height: 40px;
    justify-content: center;
    background-color: white;
}
.savePlayerBtn {
    width: 70px;
    height: 30px;
    justify-content: center;
    background-color: white;
}

.inputPlayer, label {
    flex-grow: 1;
    height: 30px;
    font-size: 15px;
}

.singlePLayerInList{
    display: flex;
    flex-direction: row;
    width: 135px;
}
.wrapperPlayerList {
    display: flex;
    flex-wrap: wrap;
}

.namePlayer {
    flex-grow: 1;
    list-style: none;
}

.removePlayerBtn{
 width: 40px;
}

.backBtn {
    position: absolute;
    left: 10px;
    top: 10px;
}